<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" version="3.0">
  <display-name>Edisoft Web Application</display-name>
  <context-param>
    <param-name>Webmaster</param-name>
    <param-value>webmaster@edisoft.ee</param-value>
  </context-param>
  
  <listener>
    <listener-class>ee.edisoft.edi.listener.AppContextListener</listener-class>
  </listener>
  
  <filter>
    <filter-name>Login Filter</filter-name>
    <filter-class>ee.edisoft.edi.filter.LoginFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>Login Filter</filter-name>
    <url-pattern>/admin/*</url-pattern>
  </filter-mapping>
  
  <servlet>
    <servlet-name>Login Servlet</servlet-name>
    <servlet-class>ee.edisoft.edi.controller.LoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Login Servlet</servlet-name>
    <url-pattern>/Login.do</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <servlet-name>Logout Servlet</servlet-name>
    <servlet-class>ee.edisoft.edi.controller.LogoutServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Logout Servlet</servlet-name>
    <url-pattern>/Logout.do</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <servlet-name>Invoice Servlet</servlet-name>
    <servlet-class>ee.edisoft.edi.controller.InvoiceServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Invoice Servlet</servlet-name>
    <url-pattern>/admin/invoices</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <servlet-name>InvoiceDetails Servlet</servlet-name>
    <servlet-class>ee.edisoft.edi.controller.InvoiceDetailsServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>InvoiceDetails Servlet</servlet-name>
    <url-pattern>/admin/invoice-details</url-pattern>
  </servlet-mapping>
  
  <resource-ref>
    <res-ref-name>jdbc/EdisoftDB</res-ref-name>
    <res-type>javax.sql.DataSource</res-type>
    <res-auth>Container</res-auth>
  </resource-ref>
  
  <security-constraint>
    <web-resource-collection>
      <web-resource-name>Secure administration area</web-resource-name>
      <url-pattern>/login.jsp</url-pattern>
      <url-pattern>/admin/*</url-pattern>
    </web-resource-collection>
    <user-data-constraint>
      <transport-guarantee>CONFIDENTIAL</transport-guarantee>
    </user-data-constraint>
  </security-constraint>
  
  <welcome-file-list>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>redirect.jsp</welcome-file>
  </welcome-file-list>
  
  <error-page>
    <exception-type>java.lang.Throwable</exception-type>
    <location>/error/exception.jsp</location>
  </error-page>
  <error-page>
    <error-code>404</error-code>
    <location>/error/404.jsp</location>
  </error-page>
</web-app>